# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
1. Scikit-learn
1. Numpy

| Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudio |
| Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python
$(1+5)^2 = 36$ <br>
$ 2*5 = 10$ <br>
$ 7-2 = 5$

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List popular Data Science tools
- List popular libraries for Data Science
- List open source IDEs used for Data Science

## Author
Rafael Mello